
body{
	background: url("../img/rojo.jpg");
	background-attachment: fixed;
}

#logo{
	background: #CA3413; /*rojo*/
}

#menu ul li:hover{
background: #CA3413;
}


.button-more{
	background: #CA3413;
}